
body {background:#666666; font:76% verdana,tahoma,sans-serif; color:#000000;}
a {background-color:inherit; color:#555555; font-weight:bold; text-decoration:none;}
a:hover {text-decoration:underline;}
p {margin:0 0 16px 0;}
img {float:left; margin:0 10px 5px 0;}

h1 {
  text-align: center;
  color: #e85505;
  font-size: 3rem;
}
h2 {font-size:1.6em; font-weight:normal; letter-spacing:-1px; margin:5px 0 10px;}
h3 { color: #555; font-size: 1em; margin:10px 0 5px;}

ul {
  list-style:lower-greek;

}

.title {
  padding-top: 1rem;
  padding-bottom: 2rem
}

/* #header { background: url(header.png); margin: 20px auto 0px auto; width:720px; height:78px;} */
/* #footerimg { background: url(/footer.gif); margin: 0px auto 20px auto; width:720px; height:78px;} */

#container {
  background:#fff url(front.png) bottom left no-repeat; 
  border:0px solid #000; 
  color:#555; 
  margin:0 auto 0px; 
  padding:10px; 
  width:700px; 
  line-height:1.3em;
  border-radius: 25px 25px 25px 25px;
}

#sidebar {
  float:left; 
  padding-left:3rem; 
  width:110px;
}

#sidebar p {
  margin:0px 0 0px 10px; 
  text-align:left; 
  font-size:0.8em;
}

#sidebar p a {
  font-weight:400;
}

#main {
  float:right; 
  width:28rem; 
  padding-right:3rem;
}

#footer {
  clear:both; 
  color:#aaa;
  padding-top:4rem;
  padding-bottom: 1rem;
  border-radius: 0 0 25px 25px;
}

.menu {border:1px solid #ffffff; color:#286ea0; display:block; font-size:1.1em; font-weight:bold; padding:4px 2px 4px 10px; width:110px;}
.menu:hover {background-color:#f8f8f8; border:1px solid #cccccc; color:#333333; text-decoration:none;}

.credits {
  color:#777; 
  font-size:0.9em; 
  margin-bottom:0;
  text-align: center;
}
.credits a {
  color:#777;
}